<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/public.css" />

    <title>BlogList</title>
    <style>
    </style>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.validata.min.js"></script>

</head>

<body>
    <div class="head">
        <div class="index_head">
            <a href="">浏览博文</a>
        </div>
    </div>

    <div>
        <!-- 查找 -->
        <div class="form-container sign-in">
            <h2>查找</h>
                <div>
                    <input type="text" name="kw" id="kw" placeholder="关键字" class="input_blog">
                    <button class="btn_blog" id="search">查找</button>
                    <button class="btn_blog" id="write">我要写博</button>
                </div>
        </div>

        <!-- 显示框 -->
        <div class="container1">
            <div class="team-members1 row1" id='Website'>

            </div>
        </div>
    </div>

    <script>
        // 阻止form事件
        function stopform(event) {
            event.preventDefault();
        }
        // 获取地址栏参数
        function getQueryStringRegExp(name) {
            var reg = new RegExp("(^|\\\?|&)" + name + "=(\[^&\]*)(\\\s|&|$)", "i");
            if (reg.test(location.href)) return unescape(RegExp.$2.replace(/\\+/g, " ")); return "";
        }
        function structure(obj, body) {
            var dad_div = document.createElement('div')
            body.appendChild(dad_div)
            dad_div.className = "single-member effect-3"

            dad_div.onclick = function () {
                window.location.href = "./blog.html?id=" + obj["BlogId"]
            }

            var img_div = document.createElement('div')
            dad_div.appendChild(img_div)
            img_div.className = "member-image"

            var img = document.createElement('img')
            img_div.appendChild(img)
            img.src = "http://127.0.0.1:8001/User/UserIcon?id=" + obj["UserId"]

            var inf_div = document.createElement('div')
            dad_div.appendChild(inf_div)
            inf_div.className = "member-info"

            var h3 = document.createElement('h3')
            inf_div.appendChild(h3)
            h3.innerHTML = obj["BlogName"]

            var p = document.createElement('p')
            inf_div.appendChild(p)
            p.innerHTML = obj["BriefIntro"]
        }
        $(document).ready(function () {
            $.get('http://127.0.0.1:8001/Blog/AllBlogList', function (data) {
                var obj = eval(data)
                var body = document.getElementById('Website')
                for (var i = 0; i < obj.length; i++) {
                    structure(obj[i], body)
                }
            })
        });
        search.onclick = function () {
            $("#Website").empty();
            var ajax = new XMLHttpRequest()
            ajax.open('GET', 'http://127.0.0.1:8001/Blog/BlogListByKW?kw=' + kw.value)
            ajax.send();
            ajax.onload = function () {
                var obj = eval(ajax.responseText)
                var tbody = document.getElementById('Website')
                for (var i = 0; i < obj.length; i++) {
                    structure(obj[i], body)
                }
            }
        }
        write.onclick = function () {
            id = getQueryStringRegExp("id")
            window.location.href = "blogmaker.html?id=" + id
        }
    </script>
</body>

</html>