<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/public.css" />
    <link rel="stylesheet" href="./css/login.css" />
    <title>Blog</title>
    <style>
        tbody {
            border: 1px solid;
            margin: 0 auto;
        }
    </style>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.validata.min.js"></script>
</head>

<body>
    <div id="header">
        <h3>博客详情</h3>
    </div>
    <table>
        <div id='Website' margin="0" border="1">

        </div>
    </table>

    <script type="text/javascript">
        // 阻止form事件
        function stopform(event) {
            event.preventDefault();
        }
        // 获取地址栏参数
        function getQueryStringRegExp(name) {
            var reg = new RegExp("(^|\\\?|&)" + name + "=(\[^&\]*)(\\\s|&|$)", "i");
            if (reg.test(location.href)) return unescape(RegExp.$2.replace(/\\+/g, " ")); return "";
        }
        $(document).ready(function () {
            var id = getQueryStringRegExp("id")
            // 获取文章信息
            $.get('http://127.0.0.1:8001/Blog/BlogInf?id=' + id, function (data) {
                var inf = eval(data)
                var tbody = document.getElementById('Website')

                var name = document.createElement('h2')
                name.innerHTML = inf["BlogName"]
                tbody.appendChild(name)

                var username = document.createElement('p')
                username.innerHTML = "作者:" + inf["UserId"]
                tbody.appendChild(username)

                var time = document.createElement('p')
                time.innerHTML = "创建时间:" + inf["CreateTime"]
                tbody.appendChild(time)

                var pass = document.createElement('button')
                pass.id = "pass"
                pass.onclick = function () {
                    id = getQueryStringRegExp("id")
                    var data = JSON.stringify({
                        "BlogId": id,
                        "NewState": 1
                    })
                    var xhr = new XMLHttpRequest()
                    xhr.open('PUT', 'http://127.0.0.1:8001/Blog/UpdateBlogState')
                    xhr.send(data);
                    alert("感谢审核! ")
                    window.location.replace('./blogexamine.html')
                }
                pass.innerHTML = "审核通过"
                tbody.appendChild(pass)

                var fail = document.createElement('button')
                pass.id = "fail"
                fail.onclick = function () {
                    id = getQueryStringRegExp("id")
                    var data = JSON.stringify({
                        "BlogId": id,
                        "NewState": 2
                    })
                    var xhr = new XMLHttpRequest()
                    xhr.open('PUT', 'http://127.0.0.1:8001/Blog/UpdateBlogState')
                    xhr.send(data);
                    alert("感谢审核! ")
                    window.location.replace('./blogexamine.html')
                }
                fail.innerHTML = "审核不通过"
                tbody.appendChild(fail)

                var tr5 = document.createElement('div')
                tbody.appendChild(tr5)
            })
            // 获取文章主体
            $.get('http://127.0.0.1:8001/Blog/ViewBlog?id=' + id, function (data) {
                console.log(data)
                var tbody = document.getElementById('Website')
                var tr = document.createElement('tr')
                tr.innerHTML = data
                tbody.appendChild(tr)
            })
        })

    </script>
</body>

</html>