<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/public.css" />
    <title>index</title>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.validata.min.js"></script>
</head>

<body>
    <div class="head">
        <div class="index_head">
            <a href="">数学专业学习资源平台</a>
        </div>
    </div>

    <div class="selection1" id="Website">

    </div>

    <div class="selection2">
        <div>
            <button class="btn_index" onclick="stopform(event)" id="register">新手注册</button>
            <button class="btn_index" onclick="stopform(event)" id="blog">看看博客</button>
            <button class="btn_index" onclick="stopform(event)" id="just_look">随便看看</button>
        </div>

        <script type="text/javascript">
            // 阻止form事件
            function stopform(event) {
                event.preventDefault();
            }
            // 获取地址栏参数
            function getQueryStringRegExp(name) {
                var reg = new RegExp("(^|\\\?|&)" + name + "=(\[^&\]*)(\\\s|&|$)", "i");
                if (reg.test(location.href)) return unescape(RegExp.$2.replace(/\\+/g, " ")); return "";
            }
            $(document).ready(function () {
                // 新增访问者
                var ajax = new XMLHttpRequest()
                ajax.open('PUT', 'http://127.0.0.1:8001/HomePage/PlatformVisit')
                ajax.send();
                // 查看访问者
                $.get('http://127.0.0.1:8001/HomePage/HomePageInfo', function (data) {
                    var obj = eval(data)
                    var div = document.getElementById('Website')
                    var paragraph = document.createElement('p')
                    paragraph.innerHTML = "欢迎访问数学专业学习资源平台! 您是第" + obj["TotalVisitor"] + "位访问者!"
                    div.appendChild(paragraph)
                })
                // 增加登录状态
                id = getQueryStringRegExp("id")
                if (id != "") {
                    $.get('http://127.0.0.1:8001/User/UserInfo?id=' + id, function (data) {
                        var obj = eval(data)
                        var ul = document.getElementById('Website')
                        ul.className = "nav1"
                        var img = document.createElement('img')
                        ul.appendChild(img)
                        img.src = "http://127.0.0.1:8001/User/UserIcon?id=" + id
                        img.height = "50"
                        img.width = "50"
                        var li = document.createElement('div')
                        ul.appendChild(li)
                        li.className = "item"
                        li.innerHTML = obj["UserName"] + ', 欢迎您!'

                    })
                }
            });
            $('#register').click(function () {
                window.location.href = "login.html"
            })
            $('#blog').click(function () {
                id = getQueryStringRegExp("id")
                if (id == "") {
                    window.location.href = "login.html"
                } else {
                    window.location.href = "blogList.html?id=" + id
                }

            })
            $('#just_look').click(function () {
                id = getQueryStringRegExp("id")
                window.location.href = "outsideweb.html?id = " + id

            })
        </script>
</body>

</html>