<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/public.css" />
    <title>manage</title>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.validata.min.js"></script>
    <link rel="stylesheet" href="./css/navBar.css">
</head>

<body>
     <div class="head">
        <div class="index_head">
            <a href="">尊敬的管理员, 欢迎您! </a>
        </div>
    </div>

    <div class="selection2">
        <button class="btn_index" onclick="stopform(event)" id = "blogexamine">博文审核</button>
        <button class="btn_index" onclick="stopform(event)" id = "studyonload">资料上传</button>
    </div>

    <script type="text/javascript">
        // 阻止form事件
        function stopform(event) {
            event.preventDefault();
        }
        // 获取地址栏参数
        function getQueryStringRegExp(name) {
            var reg = new RegExp("(^|\\\?|&)" + name + "=(\[^&\]*)(\\\s|&|$)", "i");
            if (reg.test(location.href)) return unescape(RegExp.$2.replace(/\\+/g, " ")); return "";
        }
        $('#blogexamine').click(function () {
            window.location.href = "blogexamine.html"
        })
        $('studyonload').click(function () {
                window.location.href = "webonload.html"
        })
    </script>
</body>

</html>