@charset "UTF-8";

* {
    margin: 0;
    border: 0;
    padding: 0;
}

.codelist a.item-top {
    width: 28%;
    margin: 0 8px 10px 0;
    text-align: left;
    height: 80px;
    color: #bbb;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 6px 16px
}

.bloginput {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 300px;
    outline: none;
}

.clears {
    clear: both;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
}

html {
    font-family: '微软雅黑';
    font-size: 16px;
}

body {
    background-image: url("../images/bg.png");
    color: #11112d;
}


a:hover {
    outline: 0;
    /*4个边框的样式 */
}


/* header */
#header {
    margin: 10px auto 0 auto;
    margin-top: 50px;
}

#header h3 {
    font-size: 40px;
    text-align: center;
}

/* container */
.container {
    margin: 70px auto 0 auto;
    width: 960px;
    max-width: 100%;
}

.btn_blog {
    border-radius: 15px;
    border: 1px solid #66ccff;
    background: #66ccff;
    width: 120px;
    height: 40px;
    line-height: 30px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 4px;
    transition: transform 80ms ease-in;
    cursor: pointer;
}
.btn_1 {
    border-radius: 15px;
    border: 1px solid #66ccff;
    background: #66ccff;
    width: 120px;
    height: 40px;
    line-height: 30px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 4px;
    transition: transform 80ms ease-in;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.btn_blog:active {
    transform: scale(.95);
}

.btn_blog:focus {
    outline: none;
}

.btn_blog.ghost {
    background: #66ccff;
    border-color: #fff;
}

.border-radius-1 {
    border: 1px solid #16cee0;
    border-radius: 20px;
    overflow: hidden;
}

.input_blog {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 300px;
    outline: none;
}

.btn_index {
    width: 300px;
    height: 150px;
    line-height: 46px;
    background: #66ccff;
    color: #ffffff;
    font-size: 50px;
    border-radius: 27px;
    /* animation: zoomIn 1.5s infinite; */
    text-align: center;
}

.head {
    position: relative;
    height: 45px;
    background-color: #2b2626;
}

.index_head {
    width: 1000px;
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
}

.index_head a {
    color: #efe6e6;
    font-size: 22px;
    font-weight: 600;
}

.selection1 {
    position: absolute;
    font-size: 25px;
    top: 300px;
    left: 250px;
}

.selection2 {
    position: relative;
    top: 300px;
    left: 250px;
    ;
}

.effect-3 {
    max-height: 302px;
    min-height: 302px;
    overflow: hidden;
    background-image: url(../images/bg.jpg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}

.effect-3 h3 {
    padding-top: 7px;
    line-height: 33px;
}

.effect-3 .member-image {
    border-bottom: 5px solid #e5642b;
    transition: 0.4s;
    height: 212px;
    width: 100%;
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.effect-3 .member-info {
    transition: 0.4s;
}

.effect-3 .member-image img {
    width: 100%;
    vertical-align: bottom;
}

.effect-3 .social-touch {
    background-color: #e5642b;
    float: left;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
    transition: 0.4s;
}

.effect-3:hover .member-image {
    border-bottom: 0;
    border-radius: 0 0 50px 50px;
    height: 81px;
    display: inline-block;
    overflow: hidden;
    width: 109px;
    transition: 0.4s;
}

.container1 {
    margin: 0 auto;
    max-width: 1000px;
}

.team-members1 {
    text-align: center;
}

.row1 {
    width: 100%;
    margin: 110px 0;
}

@keyframes zoomIn {
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.single-member {
    width: 280px;
    float: left;
    font-family: sans-sarif;
    margin: 30px 2.5%;
    background-color: #fff;
    text-align: center;
    position: relative;
}

.member-image img {
    max-width: 100%;
    vertical-align: middle;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0 0;
    text-transform: uppercase;
}

h5 {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 15px;
    line-height: 22px;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 0 30px;
    margin-bottom: 10px;
}

.social-touch a {
    display: inline-block;
    width: 27px;
    height: 26px;
    vertical-align: middle;
    margin: 0 2px;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    opacity: 0.7;
    transition: 0.3s;
}

.social-touch a:hover {
    opacity: 1;
    transition: 0.3s;
}

.fb-touch {
    background-position: 0 0;
}

.tweet-touch {
    background-position: -35px 0;
}

.linkedin-touch {
    background-position: -71px 0;
}

.icon-colored .fb-touch {
    background-position: 0 -27px;
}

.icon-colored .tweet-touch {
    background-position: -35px -27px;
}

.icon-colored .linkedin-touch {
    background-position: -71px -27px;
}

.webmain {
    margin: 20px auto 0px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    height: 100px;
}